html {
  overflow-y: scroll;
  padding-bottom: 40px;
}

/* Bootstrap tweaks */
.has-error .input-group-btn .btn.btn-default {
  color: #a94442;
  background-color: #ffffff;
  border-color: #a94442;
}
.has-error .input-group-btn .btn.btn-default:hover {
  background-color: #f2dede;
}

/* Input */
.hash-input .input-group {
  margin: 10px 0px;
}

.hash-input-name,
.hash-input-value {
  font-family: 'Inconsolata';
  font-size: 14px;
}

/* Output */
.hash-output {
  margin:  0px 0px 20px 0px;
}

.hash-output .hash-name {
  font-family: 'Inconsolata';
  font-size: 20px;
}

.hash-output input {
  font-family: 'Inconsolata';
  font-size: 14px;
}
