<div class="row">
  <div class="col-md-4">
    <span class="hash-name">
      {{ method.name }}
    </span>
    <br />
    <span>
      Hashcat: <code>{{ method.hashcat }}</code>
    </span>
  </div>
  <div class="col-md-8">
    <div class="input-group">
      <input type="text" class="form-control" ng-value="result" readonly>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" data-clipboard-text="{{ result }}" uib-tooltip="Copy&nbsp;to&nbsp;clipboard" tooltip-placement="top" tooltip-popup-delay="300">
          <span class="octicon octicon-clippy"></span>
        </button>
      </span>
    </div>
  </div>
</div>
